<div class="hit-locations ba-1-black pa-2">
    {{#each data.hitLocations as |hitLocation hitLocationIndex|}}
        <div class="flex-row flex-jsb">
            <div class="flex-col  col-3">
                <input type="text" name="data.hitLocations.{{hitLocationIndex}}.name" value="{{hitLocation.name}}">
            </div>
            <div class="flex-col col-1">
                <input type="text" name="data.hitLocations.{{hitLocationIndex}}.range" value="{{hitLocation.range}}">
            </div>
            <div class="flex-col col-1">
                <input type="text" name="data.hitLocations.{{hitLocationIndex}}.armor" value="{{hitLocation.armor}}">
            </div>
            <div class="flex-col col-12">
                {{#each hitLocation.wounds as |wound woundIndex|}}
                    <div
                        class="hit-box ba-1-black {{ternary wound.blocked 'blocked' ''}} {{ternary wound.shock 'shock' ''}} {{ternary wound.kill 'kill' ''}}"
                        data-hit-location="{{hitLocationIndex}}"
                        data-wound="{{woundIndex}}"
                    >
                    </div>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>