<div class="stats flex flex-wrap">
  {{#each data.stats as |stat statKey|}}
    <div class="flex-col col-4 my-4">
      <div class="ability flex">
        <label for="data.stats.{{statKey}}.value" class="stat-label resource-label flex-col col-9 text-secondary">{{stat.name}}</label>
        <div class="flex-col col-3 text-center">
          <input class="stat-input" type="text" name="data.stats.{{statKey}}.value" value="{{stat.value}}" data-stat="{{statKey}}" data-dtype="Number"/>
        </div>
      </div>
      <div>
        {{#each stat.skills as |skill skillKey|}}
            {{#unless skill.hasSubskills}}
              <div class="ability flex">
                <div class="flex-col col-9">
                  <label for="data.stats.{{statKey}}.skills.{{skillKey}}.value" data-label="{{stat.name}} {{skill.name}}" data-stat="{{stat.value}}" data-skill="{{skill.value}}" class="rollable resource-label pl-2 text-primary">{{skill.name}}</label>
                </div>
                <div class="flex-col col-3 text-center">
                  <input class="stat-input skill-input" type="text" name="data.stats.{{statKey}}.skills.{{skillKey}}.value" value="{{skill.value}}" data-stat="{{statKey}}" data-skill="{{skillKey}}" data-dtype="Number"/>
                </div>
              </div>
            {{else}}
              <div class="ability flexrow">
                <label>{{skill.name}}</label>
              </div>
            {{/unless}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>