<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <div class="flex flex-wrap">
              <div class="flex-col col-6">
                <label class="text-primary">Name</label>
                <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
              </div>
              {{#each data.attributes as |attribute name|}}
              <div class="resource flex-col col-6">
                <label for="data.attributes.{{name}}" class="text-primary text-capitalize">{{name}}</label>
                <div>
                  <input type="text" name="data.attributes.{{name}}" value="{{attribute}}"/>
                </div>
              </div>
              {{/each}}
          </div>
          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          
    </header>

    <div class="stats flex flex-wrap">
      {{#each data.stats as |stat statKey|}}
        <div class="flex-col col-4 my-4">
          <div class="ability flex">
            <label for="data.stats.{{statKey}}.value" class="resource-label flex-col col-9 text-secondary">{{statKey}}</label>
            <div class="flex-col col-3 text-center">
              <input type="text" name="data.stats.{{statKey}}.value" value="{{stat.value}}" data-dtype="Number"/>
            </div>
          </div>
          <div>
            {{#each stat.skills as |skill skillKey|}}
                {{#unless skill.hasSubskills}}
                  <div class="ability flex">
                    <div class="flex-col col-9">
                      <label for="data.stats.{{statKey}}.skills.{{skillKey}}.value" data-label="{{stat.name}} {{skill.name}}" data-stat="{{stat.value}}" data-skill="{{skill.value}}" class="rollable resource-label pl-2 text-primary">{{skill.name}}</label>
                    </div>
                    <div class="flex-col col-3 text-center">
                      <input type="text" name="data.stats.{{statKey}}.skills.{{skillKey}}.value" value="{{skill.value}}" data-dtype="Number" min="1" max="10"/>
                    </div>
                  </div>
                {{else}}
                  <div class="ability flexrow">
                    <label>{{skill.name}}</label>
                  </div>
                {{/unless}}
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                  <div class="item-image"></div>
                  <div class="item-name">Name</div>
                  <div class="item-controls">
                    <a class="item-control item-create" title="Create item" data-type="item"><i class="fas fa-plus"></i> Add item</a>
                  </div>
                </li>
            {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></div>
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
            {{/each}}
            </ol>
        </div>

    </section>
</form>

