
.die-icon {
  background-image: url("../assets/D10-Default.svg");
  align-items: center;
  display: flex;
  height: toRem(28px);
  justify-content: center;
  width: toRem(28px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: toRem(2px);
  margin-right: toRem(2px);
  position: relative;

  &.lg {
    height: toRem(40px);
    width: toRem(40px);
  }
}

.value {
  color: color('black');
  font-weight: bold;
  font-size: 1.125rem;
}