<form class="{{cssClass}}" autocomplete="off" style="background-color: #fff;">
  <main>
    <section
      class="attributes flex-container"
      id="setting-specific"
    >
      <div class="flex-row flex-ac">
        <h2 class="section-heading">{{localize 'ORE.Qualities'}}</h2>
        <div class="ml-3">
          <button class="btn btn-icon btn-primary add-quality">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
      <div>
        {{#each qualities as |quality qualityKey|}}
          <div class="quality flex flex-wrap px-2 my-3 ba-2-black">
            <div class="flex-col my-2 col-12">
              <label>{{localize 'ORE.RemoveQuality'}}</label>
              <button class="btn btn-icon btn-secondary remove-parent-element" data-selector=".quality">
                <i class="fa fa-minus"></i>
              </button>
            </div>
            <div class="flex-col col-4">
              <label>{{localize 'ORE.QualityName'}}</label>
              <div>
                <input type="text" name="qualities.{{qualityKey}}.name" value="{{quality.name}}">
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </section>
    <button
      class="btn btn-secondary"
      id="submit"
      type="button"
    >
      {{localize 'ORE.Submit'}}
    </button>
  </main>
</form>